node_modules
.env
__pycache__
*.pyc
venv/
*.log
*.db
*.db-*
.cache
.local
.npm
.ssh
.aiand-code
.config/opencode
.bashrc
.bash_logout
.profile
.sudo_as_admin_successful
.config/gh/
.gitconfig
.config/gh/config.yml
.config/gh/hosts.yml
